<div class="card">
  {{#if product}}
    <img src="{{product.thumbnail}}" class="card-img-top" alt="{{product.title}}" />
    <p>Title: {{product.title}}</p>
    <p>Description: {{product.description}}</p>
    <p>Price: $ {{product.price}}</p>
    <p>Category: {{product.category}}</p>
  {{else}}
    <p>No product available</p>
  {{/if}}
  <a href="/products"><button>Volver</button></a>
</div>
